<section class="beer" id="beer_<%= beer.id %>">
  <div class="image">
    <img src="<%= beer.image_link.html_safe %>" width="190px"/>
  </div>
  <div class="content">
    <header>
      <h1 class="title"><%= link_to(beer.title, beer) %></h1>
      <% if beer.metro_name.present? %>
      <h3>from <%= beer.metro_name.titleize %></h3>
      <% end %>
    </header>
    <p class="description"><%= beer.description %></p>
    <form class="buyme" action=<%= beer_order_path(beer) %> method="POST">
      <% if @discount %>
        <div class="discount">
          <p>Hey, <%= link_to_twitter_profile(@twitter) %>, if you tweet about us we will send you this beer for <%= @discount == :free ? "FREE" : "HALF OFF" %>!</p>
	  <textarea type="text" name="tweet" class="tweet">I just bought some <%= beer.title %> from Lancelot Link's Beer Emporium!</textarea>
        </div>
      <% end %>

      <div class="price">
	<span class="amount">
	  <% if @discount %>
	    <span class="discounted"><%= number_to_currency(beer.price) %></span>
	    <% if @discount == :free %>
	    &rarr; FREE
	    <% else %>
	    &rarr; <%= number_to_currency(beer.price / 2.0) %>
	    <% end %>
	  <% else %>
	    <%= number_to_currency(beer.price) %>
	  <% end %>
	</span>
	<span class="action">
	  <input type="submit" value="<%= @discount ? "Tweet and buy" : "Buy now" %>!">
	</span>
      </div>
      
    </form>
  </div>
</section>
