<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <% if @api_responses.present? %>
    <div id="api_responses">
      <h3>Infochimps API Requests</h3>
      <p>You can directly visit these URLs with your browser or with <tt>curl</tt>.  Try it!</p>
      <ul>
	<% @api_responses.each_pair do |full_path, response_data| %>
	<li>
	  <% url = File.join("http://api.infochimps.com", full_path) %>
	  <p><b><%= response_data[:code] %></b>: <%= link_to(url, url) %></p>
	  <div class="response"><%= highlight_demo_params(JSON.pretty_generate(response_data[:body])) %></div>
	</li>
	<% end %>
      </ul>
    </div>
    <% end %>
  </body>
</html>
